body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background: white;
    color:black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
section {
    width: 75%;
    margin: auto;
}
div#result {
    margin: 10px 0px;
    line-height: 20px;
}
span.results {
    background: #ffff4f;
}
label {
    line-height: 25px;
}
button {
    margin: 10px 0px;
}
